body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Dancing Script", cursive;
}

.header {
    background: linear-gradient(0deg, red 0%, yellow 50%, green 100%);
    
    text-align: center;
    color: black;
    margin: 0;
    margin-bottom: 12px;
    padding: 16px 0;
    width: 100%;
}

.breed-select {
    width: 320px;
}

#doggo-image {
    margin: 10px;
    align-items: center;
    width: 75%;
    cursor: pointer;
    visibility: hidden;
}

#doggo-description {
    margin: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#doggo-description dt {
    margin: 10px;
    font-size: 34px;
    font-weight: bold;
}

#doggo-description dd {
    margin: 10px;
    font-size: 20px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
}

.img {
    
    align-items: center;
}

@media only screen and (max-width: 800px) {
    .wrapper {
        display: block;
    }
    #doggo-description dt {
        margin: 10px auto;
        align-items: center;
    }
    #doggo-image {
        width: 90%;
        align-items: center;
    }
}